<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>TuneIn</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http://opml\.radiotime\.com/Tune\.ashx</string>
				<string>^http://tunein\.com/radio/[^/]+/$</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
